  .H5-form{
    text-align: left;
    font-family: 'Roboto';
  }

  .H4-form{
    font-family: 'Roboto';
  }

  .Container-div{
  text-align: left;
  font-size: small;
  color: black;
  font-family: 'Roboto';
  margin: 40px;
  }

  .abarcadoTextArea{

    align-items: center;
    text-align: center;
    font-family: 'Roboto';

  }

  .blue-border-focus .form-control:focus {
    border: 1px solid #2c55db;
    box-shadow: 0 0 0 0.2rem rgba(65, 92, 240, 0.623);
}

.abarcadoBotonNotificar{
  text-align: center;
  font-family: 'Roboto';

}