#footer-main{
    position:fixed;
    width: 100%;
    background-color: #eeeeee;
    top:100%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: #808080;
    font-size: 60%;
    align-items: center;
    display: flex;
    justify-content: center;
}