.dropdown {
    position: relative;
    display: inline-block;
}
nav{
    background-color: #4681cf;
    padding-bottom: 30px;
    position: fixed;
    margin-top: 0px;
    width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:8%;
    left:85%;
    width: 200px;
    background-color: white;
    font-weight:bold;
    position: fixed;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
li a {
    color: #000;
    text-decoration: none;
}
li {
    padding: 8px 16px;
    border-bottom: 1px solid #e5e5e5;
}
li:last-child {
    border-bottom: none;
}
li:hover {
    background-color: #e5e5e5;
    color: white;
}
.button{
    position: fixed;
    left: 96%;
    top: 1%;
    background-color:#4681cf ;
    padding:5px;
    border-radius: 20px;
    border: 2px solid #ffffff;
}
.perfil{
    position: fixed;
    left: 92%;
    top: 1%;
    
}
.img{
    border-radius: 150px; 
    border: 2px solid #ffffff;
}
.name{
    position: fixed;
    font-family: 'Roboto';
    color: white;
    left: 78%;
    font-size: 125%;
    font-weight: 900;
    top: 0%;
}
.mail{
    position: fixed;
    color:whitesmoke;
    font-family: 'Roboto';
    left: 78%;
    font-size: 90%;
    font-weight: 200;
    top: 5%;
}
