#table_id{
    display: block;
    max-height: 370px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    height:1024px;
    background-color:#eeeeee;
    width: 100%;
    margin: 1% auto;
    float: none;
}

.size{
    
    width: 10%;
}